.calculator-container{
    width: 300px;
    margin: 0 auto;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


input[type="text"]{
    width: 93%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: right;
    font-size: 24px;
}

.btn {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:10px;
}

input[type ="button"]    /*even a space between input and [ can cause issue in css selection */
{
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 18px;
    padding: 10px;
}

.Clear{
    background-color: dimgray;
    color: white;
    grid-column: span 2;
}

.Clear:hover{
    transform: scale(1.04);
}

.operator{
    background-color: #ff9933;
    color: white;
}

.operator:hover{
    transform: scale(1.04);
}

.equal{
    grid-column: span 4;
    background-color: #33cc33;
    color: white;    
}


.equal:hover{
    transform: scale(1.1);
}

.Delete{
    background-color: red;
    color: white; /*text color */
    transition: transform 0.2s ease-in-out;
}

.Delete:hover{
    transform: scale(1.1);
}

.number{
    background-color: transparent;
    color: #007ACC;
    cursor: pointer;

    border: 2px solid #007ACC;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;

    transition: transform 0.2s ease-in-out;
}

.number:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(1,1,1,0.1);
}
